body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(39,143,190,1) 46%, rgba(0,212,255,1) 90%);
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Spline Sans Mono', monospace;
color: white;
margin:0px;
padding: 0px;
box-sizing: border-box;

}
main{
    width: 730px;
    margin: 100px auto 50px;
    display:flex;
    align-items: center;

}
.section1{
    background-color: rgba(255,255,255, 0.2);
    padding:0 10px 10px 10px;
    border-radius: 8px;
}
h1{
    text-align: center;
}
button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}
.section2{
     background-color: rgba(255,255,255, 0.2);
     border-top-right-radius: 8px;
     border-bottom-right-radius: 8px;
     width: 250px;
     height: 400px;
     padding: 0 20px;
}
.estadisticas{
    border: 1px solid white;
    height:105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;

}
footer{
    text-align: center;
}
img{
    width:80%;
}
@media screen and (max-width: 900px){
    body{
    background-color: rgba(45, 122, 131, 0.449);
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    height: 1100px;
    border:1px solid red;

    }
main{

    height: 300px;
    display: block;
    width: 100%;
   
    
}
.section1{
    width:450px;
    height:200%;
   margin-right: 2px;
}
.section2{
    width:430px;
   
   
}
.estadisticas{
    justify-content: space-around;
    justify-content: space-between;
}
button{
        width:100px;
        border:2px solid black;
        border-radius: 5px;
        height: 120px;
        margin:2px;

}
footer p{
display: inline;
justify-items: end;
}

}